@media only screen and (max-width:768px) {
    .section{
        &__item{
            display: block;
            float: left;
        }
        &__item1{
            display: flex;
            flex-direction: column-reverse;
        }
        &__item12{
            margin-left: -69px;
        }
        &__suptext1{
            text-align: center;
            margin-left: 125px;
        }
        &__text1{
            display: none;
        }
        &__text-tablet1{
            display: block;
            text-align: center;
            margin-left: 135px;
        }
        &__image1{
            margin-left: 115px;
        }
        &__btn-place1{
            margin-left: 300px;
        }
        &__image2{
            margin-left: 110px;
        }
        &__suptext2{
            margin-left: -185px;
            text-align: center;
        }
        &__text2{
            display: none;
        }
        &__text-tablet2{
            display: block;
            text-align: center;
            margin-left: -175px;
        }
        &__btn-place2{
            margin-left: 10px;
        }
        &__suptext3{
            text-align: center;
            margin-left: 40px;
        }
        &__text3{
            display: none;
        }
        &__text-tablet3{
            display: block;
            text-align: center;
            margin-left: 30px;
        }
        &__image3{
            margin-left: 50px;
        }
        &__btn-place3{
            margin-left: 230px;
        }
    }
}

@media only screen and (max-width:820px) {
    .section{
        &__item{
            display: block;
            float: left;
        }
        &__item1{
            display: flex;
            flex-direction: column-reverse;
        }
        &__item12{
            margin-left: -69px;
        }
        &__suptext1{
            text-align: center;
            margin-left: 125px;
        }
        &__text1{
            display: none;
        }
        &__text-tablet1{
            display: block;
            text-align: center;
            margin-left: 135px;
        }
        &__image1{
            margin-left: 115px;
        }
        &__btn-place1{
            margin-left: 300px;
        }
        &__image2{
            margin-left: 110px;
        }
        &__suptext2{
            margin-left: -185px;
            text-align: center;
        }
        &__text2{
            display: none;
        }
        &__text-tablet2{
            display: block;
            text-align: center;
            margin-left: -175px;
        }
        &__btn-place2{
            margin-left: 10px;
        }
        &__suptext3{
            text-align: center;
            margin-left: 40px;
        }
        &__text3{
            display: none;
        }
        &__text-tablet3{
            display: block;
            text-align: center;
            margin-left: 30px;
        }
        &__image3{
            margin-left: 50px;
        }
        &__btn-place3{
            margin-left: 230px;
        }
    }
}

@media only screen and (max-width:912px) {
    .section{
        &__item{
            display: block;
            float: left;
        }
        &__item1{
            display: flex;
            flex-direction: column-reverse;
        }
        &__item12{
            margin-left: -69px;
        }
        &__suptext1{
            text-align: center;
            margin-left: 125px;
        }
        &__text1{
            display: none;
        }
        &__text-tablet1{
            display: block;
            text-align: center;
            margin-left: 135px;
        }
        &__image1{
            margin-left: 115px;
        }
        &__btn-place1{
            margin-left: 300px;
        }
        &__image2{
            margin-left: 110px;
        }
        &__suptext2{
            margin-left: -185px;
            text-align: center;
        }
        &__text2{
            display: none;
        }
        &__text-tablet2{
            display: block;
            text-align: center;
            margin-left: -175px;
        }
        &__btn-place2{
            margin-left: 10px;
        }
        &__suptext3{
            text-align: center;
            margin-left: 40px;
        }
        &__text3{
            display: none;
        }
        &__text-tablet3{
            display: block;
            text-align: center;
            margin-left: 30px;
        }
        &__image3{
            margin-left: 50px;
        }
        &__btn-place3{
            margin-left: 230px;
        }
    }
}

@media only screen and (max-width:390px) {
    .section{
        &__item{
            display: block;
            float: left;
        }
        &__item1{
            display: flex;
            flex-direction: column-reverse;
        }
        &__item12{
            margin-left: -69px;
        }
        &__suptext1{
            text-align: center;
            margin-left: 125px;
        }
        &__text1{
            display: none;
        }
        &__text-tablet1{
            display: block;
            text-align: center;
            margin-left: 135px;
        }
        &__image1{
            margin-left: 115px;
        }
        &__btn-place1{
            margin-left: 300px;
        }
        &__image2{
            margin-left: 110px;
        }
        &__suptext2{
            margin-left: -185px;
            text-align: center;
        }
        &__text2{
            display: none;
        }
        &__text-tablet2{
            display: block;
            text-align: center;
            margin-left: -175px;
        }
        &__btn-place2{
            margin-left: 10px;
        }
        &__suptext3{
            text-align: center;
            margin-left: 40px;
        }
        &__text3{
            display: none;
        }
        &__text-tablet3{
            display: block;
            text-align: center;
            margin-left: 30px;
        }
        &__image3{
            margin-left: 50px;
        }
        &__btn-place3{
            margin-left: 230px;
        }
    }
}