.header{
    &__container{
        display: flex;
        align-items: center;
    }
    &__left{
        display: flex;
        align-items: center;
        &-right{
            margin-left: 15px;
        }
    }
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        +.header__item{
            margin-left: 32px;
        }
    }
    &__link{
        color: $dim_Grey;
        transition: all 0.5s;
        &:hover,
        &:active{
            color: $yellow;
        }
    }
    &__right{
        margin-left: 581px;
    }
    
}